PORT=8000
GIN_MODE=debug
SCORING_ENGINE_URL=http://localhost:8001
ALCHEMY_API_KEY=lEBB3O-bQnzdOLjXtCAVf
EVM_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/lEBB3O-bQnzdOLjXtCAVf
FHEVM_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/lEBB3O-bQnzdOLjXtCAVf
STARKNET_RPC_URL=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_7/lEBB3O-bQnzdOLjXtCAVf
STARKNET_VERIFIER_ADDRESS=0x05655bb69addbb8a48a19fe4e3251dcc0058761052c7032aead67ea6d05391fe
ZG_STORAGE_URL=https://rpc-storage-testnet.0g.ai
LENDING_CONTRACT_ADDRESS=
SBT_CONTRACT_ADDRESS=
RELAYED_VERIFIER_ADDRESS=
RELAYER_PRIVATE_KEY=
RELAYER_ADDRESS=
DEBT_ASSET_ADDRESS=
COLLATERAL_ASSET_ADDRESS=
ZAMA_RELAYER_URL=
CAIRO_PROVER_URL=