PRIVATE_KEY=
RPC_URL=

USE_MOCK_ASSETS=true
INITIAL_LIQUIDITY=50000000000

SBT_NAME="CreDex Credit"
SBT_SYMBOL="cCREDIT"

LOAN_DURATION_SECONDS=2592000
GRACE_PERIOD_SECONDS=604800
LIQUIDATION_DELAY_SECONDS=2592000

DEBT_ASSET=
COLLATERAL_ASSET=

# Optional: leave empty to auto-deploy MockCreditVerifier
CREDIT_VERIFIER=